* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.2em;
}

.clear {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
.row {
	@extend .clear;
	margin-bottom: 50px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.full-width {
	width: 100%;
	display: block;
	&.bottom-20 {
		padding-bottom: 20px;
	}
	&.bottom-30 {
		padding-bottom: 30px;
	}
}